<div class="card">
    <div class="card-body">
        <h1>About</h1>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eos ab possimus et autem laudantium impedit delectus corrupti minima laboriosam quaerat explicabo a, provident debitis aspernatur quia id sunt facilis rerum, libero at cumque quae earum inventore quos. Voluptatem, illo impedit.</p>
    </div>
</div>