body {
    /*background: #FFAFBD;  /* fallback for old browsers */
    /*background: -webkit-linear-gradient(to right, #ffc3a0, #FFAFBD);  /* Chrome 10-25, Safari 5.1-6 */
    /*background: linear-gradient(to right, #ffc3a0, #FFAFBD); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

    background: ##EBEAE6;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #EBEAE6, #DCD8D2);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #EBEAE6, #DCD8D2); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.logo {
    width: 30%;
}
